# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
apps/*/node_modules
services/*/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
apps/*/coverage

# next.js
/.next/
/out/
apps/explorer-web/.next/
apps/explorer-web/out/

# astro
apps/docs/dist/

# production
/build
services/indexer/bin/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.local.example

# vercel
.vercel
apps/explorer-web/.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
